@use './base.scss';
@import 'primeicons/primeicons.css';
#app {
  margin: 0 auto;
  font-weight: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}

#app {
  width: var(--page-width);
}

.p-menubar-item-content {
  background-color: transparent !important;
}
